$primary: #f5f5f5;
$secondary: #a8a8a8;
$accent: #d32f2f;
$background: #e8e8e8;
$text-color: #333333;

@font-face {
    font-family: 'brush-script';
    src: url('/fonts/BRUSHSCI.TTF') format(ttf);
}

html {
    font-size: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%; /* For Safari and Chrome */
    -moz-text-size-adjust: 100%;    /* For Firefox */
    -ms-text-size-adjust: 100%;     /* For Internet Explorer */
    text-size-adjust: 100%;         /* For other browsers */
}

body {
    color: $text-color;
    background-color: $background;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: $primary;
    padding: 50px;
}

.red-text {
    color: $accent;
    font-family: 'brush-script';
}

table {
    background-color: $primary;
    border-collapse: collapse;
    table-layout: auto;
    input {
        width: 100%;
        box-sizing: border-box;
    }
    td {
        &.input{
            padding-right: 1rem;
        }
    }
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    .seletech{
        font-family: 'brush-script';
        font-size: 1.5em;
    }
}

input{
    border: 1px solid black;
    border-radius: 3px;
    &:focus{
        outline-color: cornflowerblue;
        outline-width: 2px;
    }
    &.radio{
        box-sizing: border-box;
        width: 1em;
        height: 1em;
    }
    &.dateTime {
        max-width: 7rem;
    }
    &.error {
        color: $accent;
        border-color: $accent;
        &:focus {
            outline-color: $accent;
        }
    }
}

select {
    border: 1px solid black;
    border-radius: 3px;
}

label.unit {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: calc(100% - 0.85rem);
    input {
        border: none;
        text-align: right;
        width: calc(100% - 1.2rem);
    }
    &:focus-within {
        outline-color: cornflowerblue;
        outline-width: 2px;
        outline-style: solid;
        input {
            outline: none;
        }
    }
}