$primary: #f5f5f5;
$secondary: #a8a8a8;
$accent: #d32f2f;
$background: #e8e8e8;
$text-color: #333333;
$font-size: 1rem;

body {
    color: $text-color;
    background-color: $background;
    font-size: $font-size;
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
}

.red-text {
    color: $accent;
}

table {
    input {
        width: 100%;
    }
}
h1 {
    text-align: center;
}